.or_seperator_wrpper{
    display: flex;
    align-items: center;
    justify-content: center;
}


.or_seperator_wrpper span{
    display: block;
    font-size: small;
}

.or_border{
    background-color: #333333;
    width: 25%;
    height: 1.4px;
}