.otp_inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}


.otp_inputs .otp_input{
    width: 20%;
    height: 61.28px;
    border: .5px solid var(--text-color2);
    border-radius: 12px;
    margin: auto 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
}
