.otp_inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}


.otp_inputs .otp_input{
    height: 61.28px;
    border: .5px solid var(--text-color2);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.125em;
}

.otp_btn{
    background-color: #efefef;
    border-radius: 50%;
    color: #333333;
    width: 70px;
    height: 70px;
}