@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    --ion-font-family: 'Montserrat';
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* White */
    --primary: #FAFAFA;
    --primary-2: #F2F2F2;
    --primary-3: #F5F5F5;
    --white-4: #eaeaea;
    --text-color2: #A9A9A9;

    /* Orange */
    --tertiary: #FEA401;
    --light-orange: #FFF4E0;
    
    /* Brown */
    --secondary: #412525;
    --text-color: #3E3E3E;

    /* Red */
    --light-red: #FFF4E0;

    /* Green */
    --green: #31B267;
    --light-green: #1e8e3e9c;
    --very-light-green: #E2F4F3;

    /* blue */
    --light-blue: #E2F4F3;





    /* --ion-text-color: var(--tertiary); */
    --ion-placeholder-color: var(--tertiary);
    --ion-background-color: var(--primary) !important;
    --ion-toolbar-background: var(--primary);
    --ion-toolbar-color: var(--secondary);


    --ion-tab-bar-background: var(--secondary);
    --ion-tab-bar-color-selected: var(--tertiary);
    --ion-tab-bar-color: var(--primary);
    --ion-tab-bar-border-color: transparent;
    --ion-border-color: var(--secondary);
    --ion-toolbar-border-color: var(--secondary);
}

* {
    font-family: 'Montserrat', sans-serif !important;
}


ion-toolbar,
ion-title,
ion-label ion-item {
    --color: var(--secondary)
}

ion-button {
    --color-hover: var(--primary)
}

ion-button.brown_fill,
ion-button.yellow_fill,
ion-button,
ion-button.outline {
    text-transform: capitalize;
    box-shadow: none !important;
    font-size: medium;
}

ion-button.brown_fill {
    --background: var(--secondary);
    --color: var(--primary);
}
ion-button.brown_fill_outline {
    --background: transparent;
    --color: var(--secondary);
    --border-color: var(var(--secondary));
}
ion-button.yellow_fill,
ion-button.yellow_fill:hover,
ion-button.yellow_fill:focus{
    --background: var(--tertiary);
    --color: var(--primary);
    font-size: 18px;
    font-weight: 700;
}


ion-button.fill-outline {
    --color: var(--tertiary);
    --background: var(--primary);
    --border-color: var(--tertiary);
    text-transform: capitalize;
}

ion-button.fill-outline:hover {
    --color: var(--primary);
    --background: var(--tertiary);
    --border-color: var(--tertiary);
}



/*
-------------------------------------------------
Text Colors
-------------------------------------------------
*/

.main_color {
    color: var(--tertiary) !important
}

.bg-transparent {
    background-color: var(--t-tertiary);
}

.bg-main {
    background: var(--tertiary)
}



/*
-------------------------------------------------
Buttons
-------------------------------------------------
*/

.sm_btn{
    width: 99px;
    height: 41px;
    font-size: 14px;
}


.nm_btn{
    width: 174px;
    height: 58px;
    font-size: 14px;
}

.lg_btn{
    width: 174px;
    height: 58px;
    font-size: 14px;
}
/* 
-----------------------------------
Divs
----------------------------------- */

.muted-outline{
    background-color: transparent;
    border: 1px solid #bbb;
}


/* 
-----------------------------------
Backgrounds
----------------------------------- */
.grey__bg{
    background-color: var(--white-4);
}