.preview_img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 120px;
    overflow: hidden;
}

.align-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

